[2014-03-05 04:23] liwenzhu opened #36 "Can I use xls.writeFile(callback)?"
I think it will be wonderful if I can save a xls file like:
xls.writeFile(function(err){}); or specify a new file name xls.writeFile('aaa', function(err){});

Can I use it like that now?

[2014-07-11 16:21] pc-rgundlapalli opened #45 "Encryption scheme unsupported"
The documentation does say that this module supports only XOR encryption. I have an excel sheet that is password protected and I am receiving "Encryption scheme unsupported". How can i fix this ??

I am the owner of the excel file and can password protect it the way that is supported by the module. I just do not know how to do it. Would you know how i can password protect the excel file to make it

[2014-09-16 14:56] Amoki opened #51 "Is there a way to get background color of each cell?"
I've got a xls with a color code:
blue => room A, green => room B, ...

Can I get the color or a unique number for a color ?

Thanks!

[2014-09-16 23:50] mjasher opened #52 "demo handleDrop"
Hey, firstly thanks for a *great* library! Your handleDrop function in the demo shouuld change to something like what I have below. What you have presently doesn't scope 'f' in a function and since the calls in the loop are asynchronous, if you drag in several files, you'll end up with multiple copies of one.

[code]

[2014-09-17 11:03] xfoxawy opened #53 "drag and drop is not supported on Ubuntu 12"

[2014-09-21 05:08] jacklogan opened #54 "Warn when using js-xls on an XLSX file"
First off, this library has been a lifesaver!  I'd like to see this and the xlsx library combined into one.

Until then, is there a way to warn when opening an XLSX file using the XLS library (and vice versa)?

[2014-09-25 02:20] saw792 opened #55 "IE8 cell.w formatted cell value missing"
Hi,

js-xls has an issue in IE8 where the formatted value of cells is not added to the cell object. I've traced this down to the `eval_fmt` function:

    function eval_fmt(fmt, v, opts, flen) {
	    var out = [], o = "", i = 0, c = "", lst='t', q, dt, j, cc;
	    var hr='H';
	    /* Tokenize */
	    while(i < fmt.length) {
		    switch((c = fmt[i])) {
                    ...
                    }

[2014-11-12 07:07] hatpick opened #58 "readAsArrayBuffer vs. readAsBinaryString"
Hi,

To make sure my app is compatible with IE I use readAsArrayBuffer and it works smooth with the XLSX, however it doesn't work with XLS unless I use readAsBinaryString, any idea what might be the issue here?

Thanks,

[2014-11-19 20:16] kaustuv opened #59 "excel read error when first row of a column is an empty cell."
If excel data has a column whose value is an empty cell in the first row, then that column is not imported. This is possibly because utils.sheet_to_row_object_array() only has keys for non-empty cells.

This means that a simple example like this:

id col1 col2 col3
1 hello1 10
2 hello2 2 20
3 hello3 3 30

Only imports col1 and col3 correctly but not col2

[2014-11-26 18:00] Menighin opened #60 "Problem reading a file with readFile"
Hi,

I'm just trying to read a XLS file and parse it into JSON but it is frustrating why it doesnt work even opening the file.

My code is just:

    if(typeof require !== 'undefined')
		XLS = require('xlsjs');

	var workbook = XLS.readFile("test.xls");

But I get an error: Uncaught TypeError: Cannot read property 'readFileSync' of undefined (xls.js: 7106)

I put the test.xls in every folder of th

[2014-12-02 10:15] calebiosu opened #61 "Uncaught Error: Encryption scheme unsupported"
I am trying to open an Excel 95-2004 password protected xls file and I get the console error, Uncaught Error: Encryption scheme unsupported. I was wondering why that could be? I saw that these excel files use RC4 Encryption and looking through the code I see a method parse_RC4CryptoHeader(), is that not the method that would decrypt the file?

[2014-12-03 22:25] oakuraape opened #62 "parse_XFExtGradient undefined"
I get the following error when dropping an xls file onto the demo page.

![error](https://cloud.githubusercontent.com/assets/10067303/5290034/32f02f58-7ba8-11e4-9af3-e97629cb1937.PNG)

[2015-01-09 12:13] RomanShabanov opened #63 "Limit the data area"
First of all, fantastic library! Good job!

The "issue" is not the case, it's more a suggestion.

1. The user browse/drops the excel file.
2. Modal window requests to specify:

2.1 Header row(optional) - e.g. A2:D2
2.2 Data area(required) - e.g A3:D400

3. Checkbox "Until the first blank row" (in case user has multiple tables on 1 page)

I am working with very big files and reading the entire file

[2015-01-24 19:17] ajuhos opened #64 "Invalid encoding for special characters"
I have an xls file with special characters (á,é,ő and other national chars). The file is opened correctly by Excel and also by your online demo. But when I try to open it using NodeJS and xlsjs, then the encoding of the special characters get wrong. For example after exporting to CSV from my code, none of the codepages of Excel would display these characters correctly anymore

[2015-01-24 20:05] SheetJSDev commented on #64
@ajuhos can you share a sample file that shows the problem?

[2015-01-24 20:14] ajuhos commented on #64
I've upgraded my problem description. As it seems like it is a problem only when using your library from Node, because my files are working in the online example, but not from Node. I cannot send you the file publicly as it contains sensitive information and if I change it in Excel, then after saving the encoding issue is gone. SO it is a problem with the encoding of the file itself, it is generat

[2015-01-24 20:24] SheetJSDev commented on #64
@ajuhos can you run the following (in the REPL or as a standalone script in node) and report the output:

[code]

[2015-01-24 20:34] ajuhos commented on #64
This is the output:
0.7.2
undefined
{ v: 'L?szl?n?',
  ixfe: 15,
  t: 's',
  XF:
   { ifnt: 0,
     ifmt: 0,
     flags: 0,
     fStyle: 0,
     data: { patternType: null, icvFore: 64, icvBack: 65 } },
  w: 'L?szl?n?' }

'L?szl?n?' should be 'Lászlóné'

[2015-01-24 21:14] SheetJSDev commented on #64
@ajuhos Can you check the language settings on the computer running Excel?  In XP and Windows7 the setting is called "Language for non-Unicode programs":

- In windows7 go to the control panel .. Region and Language .. Administrative and you will see an item "Language for non-Unicode programs"
- In windows XP go to control panel .. Region and Language Options .. Advanced and you will see the same

[2015-01-24 21:22] ajuhos commented on #64
Language for non-Unicode programs is set to "magyar (Magyarország)", in English it should be: "Hungarian (Hungary)".

The file is coming form a GET request to an API which is not controlled by me and not documented at all, so I don't know anything about the generator tool.

[2015-01-24 21:45] ajuhos commented on #64
If I set the codepage to 1200 manually, then all special chars of my files gets displayed correctly.

For now I changed the set_cp method in your code:
function set_cp(cp) { cp = 1200; console.log('SET_CP', cp); current_codepage = cp; if(typeof cptable !== 'undefined') current_cptable = cptable[cp]; }

Is there a public option for setting the codepage? I did not see it in the documentation.

[2015-01-24 21:57] SheetJSDev commented on #64
@ajuhos at the moment there is no exposed manual override.  It would also likely work with code page 65001 (UTF8) because the characters in question share the same UCS2 and UTF16 and UTF8 representation compared to codepage 1250 and 1252.

If you can control the input source, can you try feeding it a name with "Ĺ" (which you can generate with `String.fromCharCode(313)`)?  I chose this character be

[2015-01-24 22:02] ajuhos commented on #64
I've tried 65001, 65000 (utf-7), 1250, 1251, 1252, 852, 858, 1047 and also all iso-8859-*  codepages (I've replaced the cpexcel module, with the full codepage module). The only working codepage was 1200. The char you've sent is not a Hungarian char so it is not in my input. But it seems like for me that the ő/Ő char is also a great character for testing, as while most of the chars worked in almost

[2015-01-24 23:02] SheetJSDev commented on #64
I checked against the 6 files in our test suite that are missing the required codepage record, and there appears to be no issue with setting the default to 1200, so I wouldn't mind changing the default.

[2015-02-04 18:11] jeremydelacasa opened #65 "Is it possible to ignore a cell before JSON format ?"
Thanks for this cool project !

I try to do something but i can't.

I have a file and i would like ignore a cell who is before my table.
Because when i export to json, it just takes the column where there is the cell.

I don't want modify my file.

Do you think is possible ?

Thank's a lot.

[2015-02-04 19:11] SheetJSDev commented on #65
The sheet_to_json function takes a second options argument.  IF you set the `range` key to a number, it will start from specified row (0-indexed).  More information [in a js-xls issue which prompted the feature](https://github.com/SheetJS/js-xls/issues/42#issuecomment-44338791)

There are actually a few ways to control what cells to use:

- `XLSX.utils.sheet_to_json(ws, {range:3})` will skip the f

[2015-02-04 20:53] jeremydelacasa commented on #65
You are the best !

I have used this <code>XLSX.utils.sheet_to_json(ws, {range:3})</code> and that work like a charm.

Thank you very much.

[2015-02-09 10:55] Martin-Pitt opened #66 "Date system incompatibility with .xls files from Mac Excel (1904 vs 1900)"
I tried parsing an .xls file and the dates were all off, a compatibility report from the .xls file in Excel reports the following:

I'm completely new to this library, so hope to have some advise or help on this.

[2015-02-09 11:00] Martin-Pitt commented on #66
For now, I can change the workbook options to use the 1900 system (Preferences > Calculation > Workbook options, untick 'Use the 1904 date system.'.

Would be great if the library would be able to figure this out somehow though, as Excel is somehow able to figure out and convert the date systems automatically (I opened an .xls which was created on a windows system on a mac)

[2015-02-09 11:14] Martin-Pitt commented on #66
I tried changing the system in the preferences, but that didn't help. The dates are off by 1462 days, so subtracting/adding that amount would correct them, unsure how to accomplish this though.

[2015-02-09 11:33] Martin-Pitt commented on #66
The library appears to be able to understand that the workbook uses Date1904, but the option is not being sent around to parse_date_code to be aware of it. For now I have commented out

to get my .xls files parsed correctly on my mac.

Also note inconsistent case of 'date1904' vs 'Date1904' throughout code.

[2015-02-09 16:03] SheetJSDev commented on #55
@saw792 I'm going to close this and track it in the XLSX module

[2015-02-09 16:03] #55 closed

[2015-02-09 16:04] SheetJSDev commented on #58
@hatpick closing now, the plan is to fold the xls library into the xlsx library so that should obviate this problem

[2015-02-09 16:04] #58 closed

[2015-02-09 16:05] SheetJSDev commented on #51
@Amoki migrating the issue to the xlsx tracker

[2015-02-09 16:05] #51 closed

[2015-02-09 16:07] SheetJSDev commented on #36
@liwenzhu @irfanyounas @geraltrivyan @sixquarks @recalccc migrating the issue to the XLSX tracker

[2015-02-09 16:07] #36 closed

[2015-02-09 16:07] SheetJSDev commented on #54
@jacklogan @EasyTarget86 once we fold xls into xlsx this issue will not be relevant

[2015-02-09 16:07] #54 closed

[2015-02-09 16:08] SheetJSDev opened #67 "XLS/XLSX encryption"
see:

https://github.com/SheetJS/js-xls/issues/45

https://github.com/SheetJS/js-xls/issues/61

[2015-02-09 16:09] SheetJSDev commented on #45
@pc-rgundlapalli @libito @mwillism issue will being tracked in the XLSX tracker

[2015-02-09 16:09] #45 closed

[2015-02-09 16:10] SheetJSDev commented on #61
@calebiosu issue will being tracked in the XLSX tracker

[2015-02-09 16:10] #61 closed

[2015-02-09 16:11] SheetJSDev commented on #52
@mjasher closing this, but if the issue persists please raise a new one in the tracker for https://github.com/SheetJS/js-xlsx

[2015-02-09 16:11] #52 closed

[2015-02-09 16:12] SheetJSDev commented on #53
@xfoxawy If you do find the browser and can give more info about how to reproduce, we can take a look.  Please raise a new issue in https://github.com/SheetJS/js-xlsx

[2015-02-09 16:12] #53 closed

[2015-02-09 16:13] #67 closed

[2015-02-09 16:14] SheetJSDev commented on #60
@Menighin if you have further issues, please raise in the https://github.com/SheetJS/js-xlsx tracker

[2015-02-09 16:14] #60 closed

[2015-02-09 16:14] SheetJSDev commented on #65
@jeremydelacasa closing now, for future issues please raise in the XLSX tracker https://github.com/SheetJS/js-xlsx

[2015-02-09 16:14] #65 closed

[2015-02-09 16:25] SheetJSDev commented on #59
@kaustuv if I understand correctly, using a CSV example:

[code]

The third column is lost because the "header row" has no value.

This is by design, since there is no good answer to "what label should the parser use for that column", and there are a few ways to work around it.  The easiest one is to use the sheet_to_json method with the option `header:1` set.  This will give you an array of array

[2015-02-09 16:25] #59 closed

[2015-02-10 05:24] SheetJSDev commented on #66
@Martin-Pitt thanks for pointing this out!

The internal field was called Date1904 but the formatting parameter was called date1904 to be consistent with their documentation (you would think an organization would be consistent, but that's wishful thinking).  I haven't decided what the parameter will be, but I adjusted the format function to pass the 1904 parameter through.  This *should* resolve t

[2015-02-10 05:29] #62 closed

[2015-02-10 05:29] #66 closed

[2015-02-10 20:00] SheetJSDev commented on #63
I assume you are referring to http://oss.sheetjs.com, correct?  If so, that is doable but will have to wait a bit

[2015-02-10 20:44] #63 closed

[2015-02-12 02:03] jmarca opened #68 "why is readFile synchronous by default, not async?"
It is surprising to me, given that node.js is by design async, that readFile uses readFileSync (see https://github.com/SheetJS/js-xls/blob/master/xls.js#L7121).

At the very least, I would have expected readFile to be called "readFileSync."  Otherwise I think you're breaking the usual node.js customs.

Apologies if this was already hashed out in a flame war somewhere.  I searched the issues and di

[2015-02-12 06:43] SheetJSDev commented on #68
There was no flame war, surprisingly enough.  I do get emails about it from time to time, so a public comment isn't a bad idea (especially since it hasn't been discussed before)

Basically, "we made the decision very early on, and now it's very hard to change".

The project originally was a browser library (back in 2012) and we called the "sync" version of the parser `read`.  It was easier because

[2015-02-12 16:41] jmarca commented on #68
I get what you're saying.  I looked at the code last night and there are a lot of things to change to make it async and/or streaming/event-based parser.  (For example, in the xlsx project, the jszip library you're using isn't async or streaming either, but switching to something like [decompress-zip](https://github.com/bower/decompress-zip) would be tedious, esp when trying to preserve browser bas

[2015-02-12 18:14] SheetJSDev commented on #68
The issue of streaming was discussed in the `j` project: https://github.com/SheetJS/j/issues/3

Basically, there are third-party writers who try to be overly clever and write critical metadata at the end rather than at the beginning of the container file, which means you have to basically read the entire file and buffer it before processing.  If "XLS" and "XLSX" meant only files that Excel generat

[2015-02-12 18:28] notatestuser commented on #68
That seems solvable though (stream to disk, catch metadata, make second pass from disk with knowledge of metadata).

[2015-02-12 18:49] SheetJSDev commented on #68
@notatestuser Like https://github.com/SheetJS/j/blob/master/bin/j.njs#L73-L87 ? I wouldn't mind porting it over and possibly making it a part of the module rather than a code block in the binary

[2015-02-12 18:52] jmarca commented on #68
Thanks for the pointer to that.

on @notatestuser's point,  It seems a similar two pass approach is used by the perl module Spreadsheet::ParseExcel (http://search.cpan.org/~dougw/Spreadsheet-ParseExcel-0.65/lib/Spreadsheet/ParseExcel.pm#Reducing_the_memory_usage_of_Spreadsheet::ParseExcel)

[2015-02-12 18:58] notatestuser commented on #68
Ah that's interesting. Shame about the dependency on a filesystem though (is anyone parsing Excel on a tessel? ;) )

[2015-02-12 19:17] SheetJSDev commented on #68
@jmarca if I understood the post correctly, they are discussing "OLE extraction" but aren't saying they are writing to file:

We essentially do the same thing now (that's the point of the CFB code, the new name for the OLE format).  Do you know if they actually write the individual streams to file?

a quick search for "tmp" or "temp" in https://github.com/gitpan/Spreadsheet-ParseExcel reveals no o

[2015-02-12 19:50] SheetJSDev commented on #68
Actually, looking at OLE::Storage_Lite, there is no obvious temp file reference there either.

cc @jmcnamara @dougwilson I'm guessing you are the authors of Spreadsheet::ParseExcel and OLE::Storage_Lite.  Are temporary files used in XLS processing?

[2015-02-12 19:58] jmarca commented on #68
I agree with you.  As far as I can tell, they do *not* write out to a temp file, but rather just do a two pass look at the data (and since I'm just coming at this from a user's perspective, I'm sure you can understand their code a lot better than I can).

There is a module Spreadsheet::ParseExcel::Stream that implies that it is streaming but really it just wraps the Spreadsheet::ParseExcel as ment

[2015-02-12 20:06] dougwilson commented on #68
My CPAN name is actually "DOUGDUDE" :) so DOUGW is someone different, haha.

[2015-02-12 20:13] SheetJSDev commented on #68
@dougwilson sorry about that, http://search.cpan.org/~dougw/ notes the name as "Douglas Wilson" and you are the only one who shows up in a github search for the name: https://github.com/search?q=douglas+wilson&ref=searchresults&type=Users

[2015-02-12 21:55] SheetJSDev commented on #68
@jmarca I actually wrote a blurb about it in response to a bug in PHPExcel (took me a while to find): https://github.com/PHPOffice/PHPExcel/issues/260#issuecomment-61432748

Long story short, the file is really a sequence of 512-byte blocks.  Each block generally has a pointer to the next block in sequence (or a special end of chain flag to indicate the sequence is done), so you can think of the "

[2015-02-12 22:41] shakhal commented on #64
Hello,
I seem to have a somewhat similar problem...
I'm trying to parse a Hebrew xls file, where I guess the CodePage was set to a wrong value...
Going through the code I see that set_cp sets CodePage value to 1252 which comes out as gibberish.. like OP, only overriding set_cp with hardcoded value of 1200  outputs the desired result...
and like OP, If I open the file with MS Excel and save it agai

[2015-02-13 00:09] SheetJSDev commented on #64
@shakhal thanks for sharing!  This file was very helpful.

There are various places in the spec which claim that the encoded string is Unicode, but in fact the string is codepage-encoded.  As a result, it was assumed (correctly, based on the test suite) that XLUnicodeRichExtendedString was also mistaken, however your file shows a valid case.  As a result, the best fix is to override the codepage j

[2015-02-13 00:16] shakhal commented on #64
@SheetJSDev works like magic :) thanks for your great work!

[2015-02-13 00:24] shakhal commented on #64
oops, one more thing.. seems that problem persists for the sheet names...

[2015-02-13 00:47] SheetJSDev commented on #64
Need to dig further: the spec points to ShortXLUnicodeString, which also says Unicode, but a few third-party writers use codepage strings for encoding sheet names.  Thanks for your patience, but we are trying to catch up to Excel-level robustness.

On a side note: would you grant permission for us to include the file in our test suite?  It would help a lot.

[2015-02-13 01:01] shakhal commented on #64
@SheetJSDev Thanks for your prompt response.
I am not the author of this file, but it is freely available under the following link, so I guess you can
use it for your testing purposes...
https://www.psagot.co.il/heb/PensionSavings/Lists/ProductForms/%d7%a8%d7%a9%d7%99%d7%9e%d7%aa%20%d7%a0%d7%9b%d7%a1%d7%99%d7%9d%20%d7%95%d7%a1%d7%a7%d7%99%d7%a8%d7%aa%20%d7%a8%d7%95%d7%97/%d7%a8%d7%91%d7%a2%d7%95%d

[2015-02-13 16:30] jmarca commented on #68
I really don't see what is going on in excel-stream.  It looks to me like it writes the stream to a temp file, then pipes that through your executable, and I can't see what it offers in terms of reducing RAM usage, etc.  I need to run it on a test file I guess and step through what it is doing.

And I also don't understand how your code is parsing excel files, and I think it would be best for me t

[2015-02-14 17:33] shakhal commented on #64
@SheetJSDev would you consider adding an override flag for CodePage for the meanwhile...?

[2015-02-18 02:59] SheetJSDev commented on #68
@jmarca First step: v0.7.5 includes readFileSync and readSync (as aliases to readFile and read respectively)

[2015-02-18 03:02] SheetJSDev commented on #64
@shakhal the offensive test files actually were from an older version of the XLS standard (the so-called "BIFF5"), so that filter was added and I believe the latest version (0.7.5) should have the right logic.  Please confirm :)

[2015-02-18 10:29] shakhal commented on #64
@SheetJSDev confirmed, again, thank you very much!

[2015-02-18 14:11] #64 closed

[2015-02-20 10:59] anilapu opened #69 "why XLS.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]) by default return sorted row object property"
Hi,

When i am using XLS.utils.sheet_to_row_object_array(workbook.Sheets[sheetName])  returns sorted row property. How can i get unsorted row property?
Here i am getting sorted data as :
![sorted_property](https://cloud.githubusercontent.com/assets/9476474/6285201/f0a33d70-b91e-11e4-9a89-26a3c5c6279f.png)
When actual file contains data as :
![original_property](https://cloud.githubusercontent.com/

[2015-02-20 18:47] SheetJSDev commented on #69
There is no true sense of "key ordering" in JS objects.  V8 may do some magic here, but in general the spec does not require any ordering.  This is in contrast to, say, collections.OrderedDict in python (which does keep track of when fields are added).

You could generate an ordered list by by walking through the first row, which is how the utility finds the headers: https://github.com/SheetJS/js-

[2015-02-23 07:09] anilapu commented on #69
Thank you @SheetJSDev. I am unable to find which function is reordering options object but i have added my piece of code according to my requirement. Now i can able to get data in desired way.

[2015-02-27 09:35] SolaiappanRajendran opened #70 "Not able to parse a excel file"
I am getting the below exception in line no xls.js at 4022 line no.

Uncaught Unrecognized Formula Token: PtgAreaErr3d,1,0.

Can anyone help me on this?

[2015-02-27 15:57] SheetJSDev commented on #70
@SolaiappanRajendran would it be possible to share a file that shows the error?  Ideally, if you can strip confidential information, we can add it to the test suite.

That error should show up if the formula in question contains an invalid 3d reference (e.g. the range B2:C3 in every worksheet), but for some reason Excel 2013 was not generating that specific token when I made the error test case.

[2015-02-27 17:20] carbuz opened #71 "sheet_to_csv number format issue"
the utils.sheet_to_csv function converts cells using the text value (w) instead of the value(v) (so numbers are rounded ...)

[2015-02-27 18:08] SheetJSDev commented on #71
This is consistent with Excel.  If you have an example where saving as CSV from excel does not round and exporting to csv from js-xls does round, please share or email me the file.

I wouldn't be against making this an option (like the JSON raw option)

[2015-02-27 18:44] carbuz commented on #71
Hi,

thank you for your extremely quick answer and for your work in updating
your amazing library! You are right: it is consistent with Excel. However
it would be nice to have the possibility to load the data without the
rounding (consider for example the possibility to import data from an excel
to a database, etc...).

Thanks again for your time,
Have a nice day!

Andrea

2015-02-27 18:08 GMT+00:

[2015-02-27 19:17] SheetJSDev commented on #71
To understand the problem with "raw csv", lets start from a simple question: how should dates be written?  After all, CSV is ultimately a string.  There are multiple "good" answers here:

1) Converting the date object to a string: `Fri Feb 27 2015 14:11:00 GMT-0500 (EST)`

2) The ISO8601 with milliseconds (JSON.stringify does this): `2015-02-27T19:12:08.000Z`

3) Duration format (used in ODS)

4)

[2015-03-02 17:54] carbuz commented on #71
Hi,  thank you for your answer.
I would suggest you to give the option to save numbers in raw and date using in ISO format.
The only thing that really matter is not to lose precision in saving any kind of data.

Best regards

[2015-03-04 19:54] jmorrisIII opened #72 "named cells"
Is there a way to read named cells?

[2015-03-06 04:39] trixtur opened #73 "s2ab function parameter is undefined"
This is causing the worker to fail.

Oh.. sorry this issue is for the demo site.

[2015-03-06 05:08] trixtur commented on #73
I figured out the problem. I was using the wrong type of excel sheet. I used xlsx on an xls parser. It would be nice if it didn't fail silently.

[2015-03-14 12:05] ifeiteng opened #74 "parse this xls file wrong with chinese"
When i parse this [xls](http://static.feit.me/b19电化1203hz.xls) file, the chinese is messy, please help me...

[2015-03-14 15:27] SheetJSDev commented on #74
I tried opening this in Excel 2013 and the characters look like junk (screenshot included).  I also tried opening this in Excel 2011 and it warns "File error: data may have been lost."

What version of Excel did you use to generate this file?  Can you share a screenshot of the entire worksheet and can you save the file in a different format (like CSV or text) as a baseline?

![](http://i.imgur.com

[2015-03-15 02:44] ifeiteng commented on #74
this file is download from my school website, charset maybe gbk, i think this file is generate by program, version 2003
![1d90 tmp](https://cloud.githubusercontent.com/assets/4183342/6654434/f2c767ce-cafe-11e4-8cf7-bc4a70e0d06a.png)
this is my parse result
![2721 tmp](https://cloud.githubusercontent.com/assets/4183342/6654447/38bfc608-cb00-11e4-8e3f-4eaef14a32ae.png)

[2015-03-15 02:47] ifeiteng commented on #74
oh, this file is Microsoft Excel 5.0/95

[2015-03-24 06:09] asfman opened #75 "can't read text link"
if xls contains text link, it can only read text without link infomation

[2015-04-03 02:22] SheetJSDev commented on #73
@trixtur the parsing logic is now folded into js-xlsx 0.8.0, so now the worker should not fail.  Going to close the issue here, if you notice any problems please raise them in https://github.com/SheetJS/js-xlsx

[2015-04-03 02:22] #73 closed

[2015-04-03 02:23] SheetJSDev commented on #75
@asfman migrating this over to js-xlsx

[2015-04-03 02:23] #75 closed

[2015-04-03 02:25] #69 closed

[2015-04-03 02:25] SheetJSDev commented on #71
@carbuz migrating to js-xlsx

[2015-04-03 02:25] #71 closed

[2015-04-03 02:31] SheetJSDev commented on #72
@jmorrisIII migrating to js-xlsx

[2015-04-03 02:31] #72 closed

[2015-04-07 11:23] JohnJeong123 opened #76 "About ko-kr FormatCode incorrect Issue"
I'm a korean developer.

I am using xlsjs(v0.7.5).

I expected the correct formatcode about ("yyyy-mm-dd") date Format.

But always rendered data is mm/dd/yy that is formatcode 14...

In . ECMA-376

ko-kr "yyyy-mm-dd" formatcode is 34, 35, 52, 53, 55, 56

I want to get correct formatcode about "yyyy-mm-dd" ko-kr date Format.

Is there I missing step on locale setting at sheetjs??

I'm waiting your

[2015-04-07 14:30] SheetJSDev commented on #76
Discussion at https://github.com/SheetJS/js-xlsx/issues/200

[2015-04-07 14:30] #76 closed

[2015-04-09 05:31] JohnJeong123 opened #77 "process out of memory Exception"
When xlsjs convert a big excel file(.xls) as readFile(), node get error below

FATAL ERROR: JS Allocation failed - process out of memory

Can you help me? How to sole it.

I attempted below setting

$ node --max-old-space-size=8192 my-node-script.js

If anyone has solution, please response it. : )

[2015-04-10 11:32] cubbuk commented on #45
Hi, is there any development in this issue? When we try to open a XLS file which is password protected we encountered the same exact error.

[2015-04-11 13:21] dgotlib opened #78 "program crashes when trying to read an empty cell"
I get "TypeError: cannot read property 'v' of undefined.

[2015-04-18 01:50] SheetJSDev commented on #78
@dgotlib sorry for the belated reply!  If you can share a code sample and a file, I can take a look, but using the standard utilities this should never happen.

By default, empty cells (as in, ones with no content) are not generated.  This is an intentional decision, mainly because it would greatly increase the size of the representation of sparse documents (which is relevant when working in a Web

[2015-04-18 01:54] SheetJSDev commented on #77
@JohnJeong123 sorry for belated reply!  Can you give a sense for how large the file is (in MB, as well as row/col)?  If possible, can you share the file?

Also, can you check whether you encounter the allocation problem with the `cfb` utility (want to see where the issue is happening):

[code]

What this does is try to reassemble the file and exit (rather than perform the xls processing)

Again, s

[2015-04-19 21:46] dgotlib commented on #78
Thanks for the reply.
I worked around the problem by using the code that converts the spreadsheet
to CSV,
and then worked with the CSV only.
Great utility!
Thanks
Dvid

On Fri, Apr 17, 2015 at 9:51 PM, SheetJSDev <notifications@github.com>
wrote:

[2015-05-07 16:04] havenchyk opened #79 "Parsing error in node"
Hi, I'm trying to use js-xls library in my nodejs app with following code.

[code]
The error contains next message:
[code]

Could you help to find the way to fix this issue?

[2015-05-08 05:43] SheetJSDev commented on #79
@havenchyk That usually indicates a corrupt CFB directory.  This has happened in the past with files generated by non-excel tools (one such example: https://github.com/PHPOffice/PHPExcel/issues/260#issuecomment-61432748). If possible, can you share a sample file?

[2015-05-08 07:21] havenchyk commented on #79
@SheetJSDev thanks for quick response, sure. Here is [link to the sample file](http://www.nbrb.by/statistics/rates/ratesdaily.asp?yr=2005). And I guess that this file have been generated by ASP.NET tools.

[2015-05-08 20:14] havenchyk commented on #79
I've checked xlsx library as well, same error on the same line.
@SheetJSDev could you please say, can it be fixed in the near future? Thanks

[2015-05-12 05:47] xrd opened #80 "Mobile and desktop browser differences mean XLS.js runs differently because of Array.protoype.find"
I'm trying to use XLS.js inside a mobile app powered by Cordova.

When I run the app, attaching Safari web tools and debugging through it, I can see a different crash inside `parse_xlscfb`. On desktop browsers, the call to test [`cfb.find`](https://github.com/SheetJS/js-xls/blob/master/xls.js#L6329) fails (the method does not exist inside of an array object). On mobile devices it does find this me

[2015-05-12 06:26] SheetJSDev commented on #80
@xrd good timing since I'm looking into some CFB issues right now.

Let's verify that mobile works: does http://oss.sheetjs.com/js-xls/ajax.html work on mobile chrome and safari?  This page attempts to download an XLS file using XHR and show the CSV contents.  The page source is [in the gh-pages branch](https://github.com/SheetJS/js-xls/blob/gh-pages/ajax.html)

I'm not too familiar with cordova.

[2015-05-12 19:52] xrd commented on #80
Hmm, I used some test data on both Chrome desktop and Safari on iOS and they both worked. Perhaps my other test file (unfortunately I cannot share quite yet) is troublesome. I will try to get a clearly reproducible test case for you, but this might have been my user error. Thanks for your response.

[2015-05-12 20:13] SheetJSDev commented on #80
@xrd if you think there may be an issue with parsing your test file, could you try reproducing this ajax test using your file?  To do that:

- clone this repo, checkout the gh-pages branch
- copy your test file into that directory and edit ajax.html: change the line `var url = "test_files/formula_stress_test_ajax.xls";` to point to your test file.
- spin up a local webserver and go to ajax.html.

[2015-05-13 23:07] xrd commented on #80
I forked the repository to github.com/xrd/js-xls. The formula_stress_test_ajax.xls file points to a dummy file that crashes here, but works when I open it in Excel. Care to take a look?

[2015-05-13 23:44] SheetJSDev commented on #80
@xrd thanks for sharing!  I am super excited to see this!  Do you mind if we add this file to the test suite?

This file follows a very old format that can't even be produced by modern versions of Excel.  If I recall correctly, they started phasing out this format in Excel 5.0 (more than 2 decades ago).  We don't have access to such an old version of Excel, so we've been working off of files that

[2015-05-14 02:23] xrd commented on #80
Please add it! I'm thrilled to contribute to such a great project. I can
provide a Cordova project and debugging steps tomorrow.
On Wed, May 13, 2015 at 4:44 PM SheetJSDev <notifications@github.com> wrote:

[2015-06-09 21:30] afbruno commented on #78
It happens because of line 7290:
Here is the problem. --> if(val === undefined || val.t === undefined) continue;
v = val.v;
		switch(val.t){
					case 'e': continue;
					case 's': break;
					case 'b': case 'n': break;
					default: throw 'unrecognized type ' + val.t;
				}
				if(v !== undefined) {
					row[hdr[C]] = raw ? v : format_cell(val,v);
					isempty = false;
				}
So I replaced it by:

[2015-06-10 16:12] dgotlib commented on #78
thanks
david

On Tue, Jun 9, 2015 at 5:30 PM, Bruno Aquino Filardi Filho <
notifications@github.com> wrote:

[2015-06-29 10:10] starhawkhkk commented on #77
[code]

when running

[code]

[2015-07-02 03:51] #74 closed

[2015-07-24 10:58] bimal1331 opened #81 "sheet_to_json always returning formatted values"
How do I access raw values? We need floating point precison and sheet_to_json return truncated floats.
Looks like I can access raw value by workbook.Sheets[name]['I3'].v but no format option to pass in sheet_to_json method.

[2015-08-03 12:51] scopsy commented on #45
+1

[2015-09-08 09:01] brunano21 opened #82 "How to handle dates?"
Hi,

I'm parsing an excel file, that may contain a date in a cell.
I get the content of the cell with the follow:

[code]

The problem is that a date like `01/01/1950` is converted into `18264`. However, I'm interested in getting only a **_simple string**_. I tried `.w` but I got a `01/01/50`.
Any help?
Thanks.

[2015-09-08 10:16] brunano21 commented on #82
Little update:
If I use `var data = XLS.utils.sheet_to_json(sheet, {header:1});` the date string I get is `01/01/50`, I would like to have `01/01/1950` instead.

[2015-09-09 16:12] simar88 opened #83 "How to create a simple workbook from custom data?"
Hi everyone,
i'm looking for something that can help to build an excel file from data that are stored in a mongoDB collection.
How can i build a workbook? I can't understand it.
Thanks in advance,
Simone

[2015-10-03 23:10] shakhal commented on #79
Hey @SheetJSDev
i'm also getting the same error, any news on this? is this project still being maintained?
@havenchyk did you solve it yourself?
Thanks!

[2015-12-24 02:38] woto opened #84 "File processing correctly on demo server but fails on my server"
Hi, i'am using js-xls awhile and that's fine, but today i found some xls document, which leads to this error:
Here is this document. https://drive.google.com/file/d/0Bz5xs45PwmjGM280Vk14dTZjS1k/view?usp=sharing

[code]

But! It works on demo server http://oss.sheetjs.com/js-xlsx/
What it could be? Thank you.

[2015-12-25 15:56] SPlatten opened #85 "Functionality, modify and save as?"
Is is possible to modify the cells and ranges of an existing workbook then save as a new workbook?

[2016-01-20 08:32] leixu2txtek commented on #85
in node Yes !

see https://gist.github.com/SheetJSDev/88a3ca3533adf389d13c

[2016-01-20 08:46] leixu2txtek opened #86 "Is there a way to write background color ?"
when I read file with

[code]

I can get this
![image](https://cloud.githubusercontent.com/assets/5109966/12443744/16bf3b76-bf95-11e5-8458-7e086ec0667c.png)

but when i save this workbook, the styles was gone.

so how can i save with the styles ..

Thanks..

[2016-01-20 09:03] SPlatten commented on #85
Thank you, I'll take a look.

On 20 January 2016 at 08:32, Lei Xu <notifications@github.com> wrote:

--
<http://about.me/SPlatten>

[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
  <http://about.me/SPlatten>

[2016-02-02 12:17] LPRS opened #87 "XLS/XLSX excel column background color"
To set alasql-XLS export excel column background color

[2016-02-05 04:20] LPRS commented on #87
var mystyle = {
                sheetid: 'Task',
                headers: true,
                column: { style: 'background:#a8adc4 },
                };
 alasql('SELECT * INTO XLS("List.xls",?) FROM ?',
                        [mystyle, $scope.items]);

[2016-02-09 09:27] Sulexa opened #88 "Out of memory problem"
Hi, i try to read a xls file which have 12 sheet composed of 50 column by 7000 row (I can't share this file). Actually i have a out of memory error so there is a way for read only one sheet at the time?(like that everytime i read a new sheet i delete the previous one)
My application is client-side, did the node js version could avoid that problem?
thanks for help

[2016-03-04 17:50] dchambers opened #89 "[TypeError: Cannot set property length of [object Object] which has only a getter]"
Seems like js-xls only works with Node.js 0.12.x but fails with Node.js 4.x, as described here:

https://github.com/DataGarage/node-xls-json/issues/14

In the [final comment](https://github.com/DataGarage/node-xls-json/issues/14#issuecomment-192374335) I mention that I was able to solve this problem by merely commenting out a single line of code, but you will no doubt have a better understanding o

[2016-03-21 10:15] parthivpn opened #90 "How to read image from xls file?"
I need to read image which i placed or inserted into one xls file. so while reading time i need to get the image and have to convert to some base64 url and need to display in console.. is this possible with this module? or for thii we have any separate module? can you please help me to find ?

[2016-03-21 10:35] parthivpn opened #91 "Getting Error : on "blob.chk(HEADER_SIGNATURE, 'Header Signature: ')""
While passing or reading xls file , i got following exception

[code]

TypeError: blob.chk is not a function
    at check_get_mver (/home/parthiban-zakapps/Proj/test/node_modules/xlsjs/xls.js:1469:7)
    at parse (/home/parthiban-zakapps/Proj/test/node_modules/xlsjs/xls.js:1381:10)

[2016-04-17 06:35] alvin992 opened #92 "How to use read from custom column or row?"
Hi, I'm Alvin. I'm totaly newbie on using javascript. i followed and read whole issue, but keep failing. until i read ajax.html, and i found the way to import xlsx file. now i need to read 1 data from a cell or any cell in a sheet. May anyone tell me the simple javascript to read custom column or row or cell, from file until read data.

[2016-05-31 07:47] kumarselvarajs opened #93 "Error in online demo while converting excel data into Json format"
Hi  i have tried converting a excel file into a json format data in the live demo. Share the below screen shot in the console.     Note: My excel has 371 records init, but if try a excel file with 20records its working fine.
![image](https://cloud.githubusercontent.com/assets/19662514/15667129/d26a0d4c-2714-11e6-98cd-dd895fa49a51.png)

[2016-06-10 05:55] testcase117 opened #94 "Unable to parse .xlsx file. //11400 Uncaught Error: Unsupported file P"
I am trying to create a code from scratch to read the contents of a normal excel file but am unable to even read it. I've used the readme for xlsx.js available for github to guide myself and come up with the following code.

https://github.com/SheetJS/js-xlsx/files/308396/my_code.txt

The error lies in the 46th line as pointed out by the comment in that line, where I've tried to read the excel fil

[2016-06-14 00:27] joefreire opened #95 "how to create a progress bar into loading handlefile?"
i want create a progress bar into loading handlefile, how i can to this?

[2016-06-20 09:12] comerc commented on #83
https://github.com/SheetJS/js-xlsx/issues/365

[2016-06-29 20:11] ffischer1984 opened #96 "What's the version of the demo? TypeError: Cannot read property '287' of undefined"
that's my error i get by using the xlsjs.readFile function.
I've tested the xls-file with your demo and there works fine.
so what's the version of xlsjs in the demo? Would help me a lot thanks.

Here is the complete error-stack:
TypeError: Cannot read property '287' of undefined
at __readInt32LE (.../node_modules/xlsjs/xls.js:129:49)
    at make_sector_list (.../node_modules/xlsjs/xls.js:1619:8)

[2016-07-01 08:17] Darentir opened #97 "Uncaught TypeError: Cannot read property 'v' of undefined"
Hello and thanks for reading me :)

I'm having an issue when trying to write inside a cell of a workbook. I am quite new to JavaScript and SheetJS. I've been working for 3-4 weeks with in in association with datatables.

For now, I read a file called SWARM.xlsx (storing candidates for job applications), create my table with the datas found inside, and now I want to be able to add a row, when I add

[2016-07-01 18:51] iposton commented on #93
I am getting the same error on the demo. Any suggestions?

[2016-07-01 19:08] iposton commented on #93
I found this demo that works converting excel to json [http://oss.sheetjs.com/js-xlsx/]( http://oss.sheetjs.com/js-xlsx/) looks exactly like the same ui of the demo found on this repo.

[2016-07-05 09:39] tedbeer opened #98 "Zero value with [h]:mm format is incorrectly formatted by sheet_to_csv"
sheet_to_csv uses format_cell to format values. It incorrectly process 0 value when '[h]:mm' format is applied.
format_cell({v: 0, t: 'n', z: '[h]:mm'}) returns '0:01'
In Excel the cell is correctly shown as '0:00'

[2016-07-05 09:44] tedbeer commented on #98
If format is  '[h]:mm:ss' the cell is formatted correctly to '0:00:00'

[2016-07-09 11:04] PawanWagh opened #99 "Uncaught Header Signature"
I am getting this error on my console:
xls.js?_=1468061647592:202 Uncaught Header Signature: Expected d0cf11e0a1b11ae1 saw 504b030414000600

[2016-07-31 09:27] jancha opened #100 "Demo is not working with simple xlsx file"
This worked on Friday http://oss.sheetjs.com/js-xls/, however the same test file is now producing errors. Same happens if I launch it locally.

Attached is console screenshot + test file.

Test environment: Mac OS X 10.11.5, Safari 9.1.1

<img width="793" alt="screen shot 2016-07-31 at 12 24 44" src="https://cloud.githubusercontent.com/assets/540255/17275712/f839e486-5719-11e6-91ff-de4516348317.pn

[2016-08-05 19:31] Amitloh opened #101 "How to make few columns readonly while exporting to excel using sheetjs"

[2016-08-09 11:26] tburd opened #102 "How to handle comma and thoushand separators"
Hi All.
First I would like to thank all users and admins here, The code is awesome.

I am facing am issue while loading files with "thousands".
I am from Brazil, using brazilian formatation, but I don´t know if this is the issue.

As you see below the thousand numbers are being displayed in the output as "2,590".
That´s ok, I can live with it, although when I try to separate all colaumns by comma,

[2016-08-12 09:35] Balakumar90 opened #103 "Object doesn't support property or method 'charCodeAt'"
Hello ,
I am trying to upload xls file and convert its content to xls . But I get the below error.

Object doesn't support property or method 'charCodeAt' .

Below is the code I have used :

 function handleFile(e) {
                    var files = e.target.files;
                    var i, f;
                    for (i = 0, f = files[i]; i != files.length; ++i) {
                        var reade

[2016-08-26 13:49] felipextrindade commented on #103
I'm getting the same error.

[2016-10-01 18:04] #79 closed

[2016-10-28 06:15] Gavin-YYC opened #104 "ERROR in ./~/.npminstall/xlsjs/0.7.5/xlsjs/dist/cpexcel.js"
hi:

I use the js-xls with webpack and npm, and I install it with "npm install xlsjs".

here is my webpack.config.js:

[code]

when I input "webpack" in CLI to run the app, I got some error info like this:

[code]

How can I fix it ?

[2016-10-28 12:13] gavinrobertszeco opened #105 "Custom table formats?"
Hi there,

As a temporary solution, I have had to modify the source files to change the date/time formats within the `table_fmt` variable to suit my needs, however this is FAR from ideal.

Have I completely missed where the ability to provide these as an option, or does this yet not exist?

I'm using both the XLS and XLSX projects, which both use SSF, however it looks like that `table_fmt` is used

[2016-11-11 15:02] duyetmai commented on #97
I still got this problem. If we use nature string such as "A1", it's OK. However, when using string making from number like var str = A+number.toString(), we will this error.

[2016-11-19 09:46] JanSchuermannPH opened #106 "TypeError !CompObj is not a function"
Getting the above error with the following code:

[code]

[2017-01-04 10:42] msaah85 commented on #99
I getting the same error.. any help?

[2017-01-04 14:36] reviewher commented on #99
@PawanWagh @msaah85 the signature 504b030414000600 corresponds to one of the newer file formats like xlsx or xlsb.  This project just handles the older XLS formats.  We recommend switching to https://github.com/sheetjs/js-xlsx which combines this support with XLSX and other formats.

[2017-01-04 14:36] #99 closed

[2017-01-07 21:35] YAmikep commented on #71
Is it now possible to get raw values for numbers in `sheet_to_csv` with the new js-xlsx?
I could not find the answer in the documentation: https://github.com/SheetJS/js-xlsx
Thanks

[2017-01-21 01:34] kenshinsoto opened #107 "web workers fail to read xlsx"
In the live demo i try to read an xlsx file with "Use Web Workers: (when available)" cheked and the console print:
TypeError: s is undefined
http://oss.sheetjs.com/js-xls/xlsworker2.js line 15
when  "Use Web Workers: (when available)" uncheked the console print:
uncaught exception: Unsupported file
But an xls is parsed with no problem.
[ContratosAnterioresEjemplo.xlsx](https://github.com/SheetJS/j

[2017-01-21 01:37] reviewher commented on #107
@kenshinsoto js-xls is for the XLS file format.  We have since merged the functionality into js-xlsx.  Can you check against the js-xlsx project https://github.com/SheetJS/js-xlsx -- the demo is at http://oss.sheetjs.com/js-xlsx/

[2017-01-25 06:02] KumarRajat commented on #69
HEY GUYS ,
i am having the same problem and not able to correct the issue . i am getting sorted key json but i don't want sheet_to_json method to return me sorted can u pls help me with the corrected code.

[2017-01-25 06:04] KumarRajat opened #108 "don't want sorted json to be return after sheet_to_json"
HEY GUYS ,
i am having the same problem and not able to correct the issue . i am getting sorted key json but i don't want sheet_to_json method to return me sorted can u pls help me with the corrected code.

[2017-02-02 14:09] janvanderhaegen commented on #82
I ran into the same issue.
For future reference, find the object creation
[code]

Number 14 seems to define the format used when parsing XLSX cells that are stored in the date format. Change it from m/d/yy to mm/dd/yyyy (or whatever fits your needs).

[2017-02-03 18:45] sumxyz opened #109 "Given Header Name find cell value for a row"
How can I get E5 cell value by giving E1 header name?

[2017-02-03 22:47] fabiooshiro commented on #68
is there any async reader?

[2017-02-04 01:50] reviewher commented on #109
@sumxyz you can convert to a JSON object using the `sheet_to_json` helper.

As an example, suppose your file was

[code]

You want to get cell E5 (which is 16) given the header in E1 (e).  `sheet_to_json` will give you an array of objects:

[code]

Assuming you want E5, it would be in the fourth row:

[code]

If you need the raw value rather than the formatted text, set the option `raw:true`:

[co

[2017-02-25 23:53] reviewher commented on #68
We may add some async support to js-xlsx in the future.  Since the functionality from js-xls has been folded into js-xlsx, we can discuss more in that issue tracker

[2017-02-25 23:53] #68 closed

[2017-02-25 23:56] reviewher commented on #107
This is an XLSX file and works in the js-xlsx web demo as well as node module.  Please switch over.

[2017-02-25 23:56] #107 closed

[2017-02-25 23:58] reviewher commented on #100
This is an XLSX file, please use http://oss.sheetjs.com/js-xlsx/

[2017-02-25 23:58] #100 closed

[2017-02-26 00:05] reviewher commented on #93
@kumarselvarajs please check against http://oss.sheetjs.com/js-xlsx/ -- we merged all of the XLS handling into the XLSX library

[2017-02-26 00:05] #93 closed

[2017-02-26 02:48] #70 closed

[2017-02-26 02:48] #80 closed

[2017-02-26 02:48] #89 closed

[2017-02-26 02:48] #106 closed

[2017-02-28 09:01] reviewher commented on #96
Related: https://github.com/SheetJS/js-xlsx/issues/569

I believe the fix there also resolves this issue.  Please try against [js-xlsx](https://github.com/SheetJS/js-xlsx) -- it has the same API and exposes XLS as well as XLSX browser variables.

[2017-02-28 09:01] #96 closed

[2017-02-28 09:03] reviewher commented on #94
This library is for XLS only.  Please raise an issue [there](https://github.com/SheetJS/js-xlsx/issues)

[2017-02-28 09:03] #94 closed

[2017-02-28 09:06] reviewher commented on #84
@woto I tested against node 0.8 through 7 using the included `xls` script as well as xlsx from https://github.com/SheetJS/js-xlsx/ and i can't reproduce.  I think we resolved the issue, but please raise a new one if you encounter another problem.

[2017-02-28 09:06] #84 closed

[2017-02-28 09:18] reviewher commented on #97
@Darentir sorry for the very late reply :/ You actually raised this in the repo for a different project! The correct issue tracker is https://github.com/SheetJS/js-xlsx/issues

The error is coming because the cell itself isn't available in the first place.  You should do a type check:

[code]

The `t:'s'` part indicates that it is a string.  If you want to store a number, set that to `'n'`.  The f

[2017-02-28 09:18] #97 closed

[2017-03-03 03:47] xiaofuchuan commented on #104
Me too

[2017-03-11 02:52] reviewher commented on #83
This library has been merged into [js-xlsx](https://github.com/SheetJS/js-xlsx).  It exposes the same exact interface.  There are some write examples in that project.

[2017-03-11 02:52] #83 closed

[2017-03-11 02:54] reviewher commented on #77
@JohnJeong123 @githistory we have merged this project into [js-xlsx](https://github.com/SheetJS/js-xlsx).  It replicates the full js-xls API -- please test against the latest version there and if you are still seeing problems please raise an issue there with a sample file.

[2017-03-11 02:54] #77 closed

[2017-03-11 02:55] reviewher commented on #81
The `sheet_to_json` function takes an options argument.  If you pass `{raw:true}` as the second argument it will give you the raw values.

[2017-03-11 02:55] #81 closed

[2017-03-11 02:58] SheetJSDev commented on #82
@janvanderhaegen the problem is that format code 14 is based on the client locale.  The file doesn't tell you the locale of the computer that saves the file, so depending on your localization settings you will see something different.  See https://github.com/SheetJS/js-xlsx/issues/560 for a related issue.

Please migrate to js-xlsx -- it replicates the entire js-xls API, including exporting the XL

[2017-03-11 02:58] #82 closed

[2017-03-11 04:12] reviewher commented on #104
[js-xlsx](https://github.com/SheetJS/js-xlsx/) is a drop-in replacement for this library and includes support for additional formats like XLSX and XLSB.  We have resolved the issue there.  At some point we will roll out an update here, but we highly recommend migrating :)

[2017-03-11 04:12] #104 closed

[2017-03-11 04:15] reviewher commented on #87
This is an issue for alasql, I think their issue tracker is at https://github.com/agershun/alasql/issues

[2017-03-11 04:15] #87 closed

[2017-03-11 04:26] reviewher commented on #85
If this issue persists, please migrate to [js-xlsx](https://github.com/SheetJS/js-xlsx) -- it's a complete drop-in replacement with additional format support.

[2017-03-11 04:26] #85 closed

[2017-03-11 04:27] reviewher commented on #86
This is an XLSX issue.  Please raise issue at https://github.com/SheetJS/js-xlsx

[2017-03-11 04:27] #86 closed

[2017-03-11 04:50] reviewher commented on #108
JS objects have no innate sense of "key order".  You are seeing the keys in the order that your browser or node generates.  If you want the raw data, you can pass the argument `{header:1}` and get a raw array of arrays that you can walk manually.

[2017-03-11 04:50] #108 closed

[2017-03-11 04:52] reviewher commented on #102
This is an issue for the formatting library https://github.com/SheetJS/ssf/ -- I copied the issue over there.

[2017-03-11 04:52] #102 closed

[2017-03-11 04:52] reviewher commented on #98
This is an issue for the formatting library https://github.com/SheetJS/ssf/ -- I copied the issue over there.

[2017-03-11 04:52] #98 closed

[2017-03-11 04:55] reviewher commented on #105
This is an issue for the formatting library https://github.com/SheetJS/ssf -- I will copy the issue over there.

FYI you should migrate over to https://github.com/SheetJS/js-xlsx -- the XLS and other format parsers have been merged and it presents the same API as this library.  It should be a drop-in replacement.

[2017-03-11 04:55] #105 closed

[2017-03-11 04:58] reviewher commented on #101
https://github.com/SheetJS/js-xlsx is the issue tracker for the XLSX library (which provides exporting).  Please raise an issue there, and more generally if you haven't doneso already please upgrade to js-xlsx -- it is a drop-in replacement and includes many enhancements.

[2017-03-11 04:58] #101 closed

[2017-03-11 06:51] reviewher commented on #92
To read a specific cell, suppose that your workbook is the variable `workbook`.  Then, at a high level you have to get the worksheet, then find the cell, then get the values you want.

1) to get the specific worksheet, use with `workbook.Sheets[name_of_worksheet]`.  So if the name is `"Sheet1"` you get the worksheet with

[code]

If you want the first worksheet but don't know the name, the workboo

[2017-03-11 06:51] #92 closed

[2017-03-11 07:04] SheetJSDev commented on #95
There are no progress events, so a progress bar would be tricky.  http://oss.sheetjs.com/ shows a simple spin animation while work happens in a web worker.  Basically it uses http://spin.js.org/, creating a spinner before sending work off to the webworker and stopping the spinner at the end.

js-xls has been merged into [js-xlsx](https://github.com/SheetJS/js-xlsx) so please re-raise an issue ther

[2017-03-11 07:04] #95 closed

[2017-03-11 07:07] reviewher commented on #103
Working with array buffers requires an extra step.  See https://github.com/SheetJS/js-xlsx/wiki/Reading-XLSX-from-FileReader.readAsArrayBuffer() for an example.

The alternative is to use `reader.readAsBinaryString` rather than `reader.readAsArrayBuffer`

[2017-03-11 07:07] #103 closed

[2017-03-11 07:33] reviewher commented on #88
Without sharing the file, it's unclear where the problem lies.  Most XLS files nowadays are wrapped in a [CFB container](https://en.wikipedia.org/wiki/Compound_File_Binary_Format), so the parser has to first understand how the container is represented.  Thanks to some technically-valid-but-not-that-great file writers (see https://github.com/PHPOffice/PHPExcel/issues/260#issuecomment-61432748 for a

[2017-03-11 07:33] #88 closed

[2017-03-11 07:36] reviewher commented on #90
@parthivpn we have merged the js-xls library into [js-xlsx](https://github.com/SheetJS/js-xlsx/).  It replicates the API so your existing code should just work.

Since this is related to https://github.com/SheetJS/js-xlsx/issues/137, it's best to close the issue here.

[2017-03-11 07:36] #90 closed

[2017-03-11 07:40] reviewher commented on #91
Does this file work with the `xls` binary? To check, from your project directory, run `node_modules/.bin/xls name_of_file` and see if it throws the error.

If you don't see an error, there's an issue with your integration code (possibly passing the wrong type of data).  If you do see an error, there's a bug in the library and we would appreciate it if you could share a file.

On a more general not

[2017-03-11 07:40] #91 closed

[2017-03-11 07:42] reviewher commented on #109
@sumxyz we have merged the xls parsing logic into [js-xlsx](https://github.com/SheetJS/js-xlsx/) -- please raise a new issue there if you are still having issues.  js-xlsx is a drop-in replacement for js-xls.

[2017-03-11 07:42] #109 closed

[2017-03-11 07:50] reviewher commented on #78
@afbruno I'm not sure how that change addresses the problem.  If `val` were undefined when `val.v` was read, the existing guard should have taken effect.

Either way, we have made some changes after merging this library into [js-xlsx](https://github.com/SheetJS/js-xlsx/) -- we encourage everyone to upgrade as it is a drop-in replacement and has support for additional formats like XLSX.

@afbruno a

[2017-03-11 07:51] #78 closed

[2017-05-08 04:02] SheetJSDev commented on #98
For reference, the `mm` was improperly detected as a month rather than minute (gotta love how excel uses the character to potentially refer to either month or minute).  The logic looked to see if a series of `m` characters was preceded by an hour token or proceeded by a second token but did not properly consider absolute times as tokens.  This was fixed in ssf 0.9.2 and will be bubbled into xlsx i

[2017-06-02 10:42] peeyushsrivastava commented on #68
Is there any update on this? Is this issue has been fixed as I can see it still using sync approach for reading file.

[2017-06-02 15:14] reviewher commented on #68
@peeyushsrivastava js-xls was completely merged into js-xlsx, there is no reason to use this module directly at this point.

Reading is computationally intensive.  The best approach for async is to use a child process and run the logic from there

[2017-06-03 05:56] peeyushsrivastava commented on #68
fferYeah I was looking for the same in js-xlsx but found similar question here so just want to check whether it was closed or not ,actually js-xslx still following sync nature what I got from the code. Definitely invoking a child process is a good option but in browser file upload there will be so many requests for upload which can hamper performance at certain point , so I am trying using js-xlsx

[2017-06-03 06:09] reviewher commented on #68
In the browser you can use web workers.  The actual work will happen outside of the main thread.  The demo http://oss.sheetjs.com/js-xlsx/ shows how it's done.

[2017-06-09 15:57] RezaKaj opened #110 "The live-demo page doesn't work with a simple 1page excel sheet that I am entering. It was working yesterday but not now"
# THIS PROJECT HAS BEEN MERGED INTO js-xlsx

If you have not doneso already, please upgrade! js-xlsx is compatible with the
full js-xls API and has additional features like XLSX support.  The browser code
additionally exports the XLS variable so there is no need to rewrite existing
client code!

Repo: [https://github.com/sheetjs/js-xlsx](https://github.com/sheetjs/js-xlsx)

Node module: [xlsx](htt

[2017-06-09 15:59] SheetJSDev commented on #110
We made no changes in the last three months ... can you share an offending file?  And as the message says, you really should switch up to js-xlsx (page is http://oss.sheetjs.com/js-xlsx/ )

[2017-06-10 19:09] reviewher commented on #110
Test against http://oss.sheetjs.com/js-xlsx/ and raise an issue with https://github.com/sheetjs/js-xlsx/issues if you see the same problem

[2017-06-10 19:09] #110 closed

[2017-06-16 01:32] og24715 commented on #45
+1

[2017-08-23 17:02] ssameer1 opened #113 "Object doesn't support property or method 'slice'"
[confirmation.xlsx](https://github.com/SheetJS/js-xls/files/1246311/confirmation.xlsx)

so i was testing this in ie 10, tried to upload excel file but i was getting "Object doesn't support property or method 'slice'"  attached is the screen shot from console.

![capture](https://user-images.githubusercontent.com/20600196/29628397-2c3d67ce-87ea-11e7-99b9-61f12c72aa6d.PNG)

[2017-09-03 16:34] SheetJSDev commented on #113
Please report this to the [xlsx issue tracker](https://github.com/SheetJS/js-xlsx/issues/)

[2017-09-03 16:34] #113 closed

[2020-08-12 18:25] jessrosenfield opened #138 "Curious about package availability"
Hi there!

I was excited to come across this project! Do you have any rough guesses as to when it might be published on https://www.npmjs.com/?

[2020-09-18 21:52] jschwartzbeck commented on #138
Looks like it's here: https://www.npmjs.com/package/word

[2021-02-03 09:59] anicething opened #139 "how to use this lib?"
is there any documents or demo?

[2021-04-29 14:36] JayV30 commented on #139
438,178 weekly downloads on npmjs, 1.2k github stars, zero documentation. What even is this?